
body{
    font: normal 20pt Arial;
    color: rgb(27, 27, 27);
}
section#container{
    width: 960px;
    height: auto;
    margin: 0px auto;
    padding: 20px 20px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.445);
}
header h1{
    font-size: 30pt;
    font-weight: 800;
    text-transform: uppercase;
}
div#msg{
    font-size: 15pt;
    font-weight: 300;
}
button#botao{
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 40px;
}
button#botao:hover{
    background: rgb(121, 121, 121);
    color: white;
    transition: ease-in 0.1s;
}
div#foto img{
    width: 320px;
    height: 320px;
    border-radius: 100%;
    margin-top: 20px;
}
footer#rodape{
    font-size: 14px;
}
